[user]
        email = joakimlped@gmail.com
        name = Joakim Pedersen
[url "https://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:@github.com/joakimlped/REP01"]
        insteadOf = https://github.com/joakimlped/REP01

